<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="admissionEngine" type="SchoolAdmission.Engine.Configuration.AdmissionEngineConfigurationSection, SchoolAdmission.Engine"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <admissionEngine>
    <paymentProcessor name="schPayment" type="SchoolAdmission.Providers.PaymentProcessor, SchoolAdmission.Providers"/>
    <mailer name="schMailer" type="SchoolAdmission.Providers.Mailer,SchoolAdmission.Providers"
            fromAddress="kant.nisha@gmail.com" smtpServer="mail.google.com"/>
    <modules>
      <add name="subjectPromotionModule" type="SchoolAdmission.Modules.SubjectPromotionModule, SchoolAdmission.Modules" />
      <add name="subjectNotAvailableModule" type="SchoolAdmission.Modules.SubjectNotAvailableModule, SchoolAdmission.Modules" />
      <add name="validateStudentModule" type="SchoolAdmission.Common.Modules.ValidateStudentModule, SchoolAdmission.Common" />
      <add name="adjustSubjectAvailabilityModule" type="SchoolAdmission.Common.Modules.AdjustSubjectAvailabilityModule, SchoolAdmission.Common" />
      <add name="processBillingModule" type="SchoolAdmission.Common.Modules.ProcessBillingModule, SchoolAdmission.Common" />
      <add name="sendNotificationModule" type="SchoolAdmission.Common.Modules.SendNotificationModule, SchoolAdmission.Common" />
    </modules>
  </admissionEngine>
</configuration>