<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="admissionEngine" type="SchoolAdmission.Engine.Configuration.AdmissionEngineConfigurationSection, SchoolAdmission.Engine"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <admissionEngine>
    <paymentProcessor name="schPayment" type="SchoolAdmission.Providers.PaymentProcessor, SchoolAdmission.Providers"/>
    <mailer name="schMailer" type="SchoolAdmission.Providers.Mailer,SchoolAdmission.Providers"
            fromAddress="kant.nisha@gmail.com" smtpServer="mail.google.com"/>
  </admissionEngine>
</configuration>